<!-- 
    <video autoplay loop muted id="background-video">
        <source src="../assets/video/walk.mp4" type="video/mp4">
    </video> -->

    <div class="waviy">
        <span style="--i:1">M</span>
        <span style="--i:2">I</span>
        <span style="--i:3">N</span>
        <span style="--i:4">I</span><br>
        <span style="--i:5">B </span>
        <span style="--i:6">A</span>
        <span style="--i:7">R</span>
        <span style="--i:8">O</span>
        <span style="--i:9">U</span>
        <span style="--i:10">D</span>
        <span style="--i:11">E</span>
        <span style="--i:12">U</span>
        <span style="--i:13">R</span>
        <p class="text-light">Découvrir, jouer, apprendre, rire, grandir</p>
       </div>




