<div class="wrapper mb-3 ">
  <div class="btn-container">

    <a [routerLink]="['/home']" class="btn btn--logo">
        <div class="content btn btn--logo">
            <div class="front">
                <div class="border"></div>
                <i class="fas fa-home"></i>
            </div>
            <div class="back">
                <div class="border"></div>
                <p>accueil </p>
            </div>
        </div>
    </a>

      <!-- <a href="#" class="btn btn--1">
          <div class="content">
              <div class="front">
                  <div class="border"></div>
                  <i class="fas fa-map-signs"></i>
              </div>
              <div class="back">
                  <div class="border"></div>
                  <p>Parcours</p>
              </div>
          </div>
      </a> -->

      <a [routerLink]="['/create']" class="btn btn--2">
          <div class="content">
              <div class="front">
                  <div class="border"></div>
                  <i class="fas fa-compass"></i>
              </div>
              <div class="back">
                  <div class="border"></div>
                  <p>New PI</p>
              </div>
          </div>
      </a>

      <a [routerLink]="['/activity']" class="btn btn--3">
          <div class="content">
              <div class="front">
                  <div class="border"></div>
                  <i class="fas fa-child"></i>
              </div>
              <div class="back">
                  <div class="border"></div>
                  <p>Activités</p>
              </div>
          </div>
      </a>

      <a href="#" class="btn btn--4">
          <div class="content">
              <div class="front">
                  <div class="border"></div>
                  <i class="fas fa-users-cog"></i>
              </div>
              <div class="back">
                  <div class="border"></div>
                  <p class="btn--4">Mon<br> compte</p>
              </div>
          </div>
      </a>

      <a [routerLink]="['/registration']" class="btn btn--5">
          <div class="content">
              <div class="front">
                  <div class="border"></div>
                  <i class="fas fa-user-plus"></i>
              </div>
              <div class="back">
                  <div class="border"></div>
                  <p class="btn--5">Inscription</p>
              </div>
          </div>
      </a>

      <a [routerLink]="['/auth']" class="btn btn--6">
          <div class="content">
              <div class="front">
                  <div class="border"></div>
                  <i class="fas fa-user-lock"></i>
              </div>
              <div class="back">
                  <div class="border"></div>
                  <p class="btn--6">Connexion</p>
              </div>
          </div>
      </a>
      <a [routerLink]="['/logout']" class="btn btn--7">
          <div class="content">
              <div class="front">
                  <div class="border"></div>
                  <i class="fas fa-sign-out-alt"></i>
              </div>
              <div class="back">
                  <div class="border"></div>
                  <p class="btn--7">Deconnexion</p>
              </div>
          </div>
      </a>
  </div>
</div>