
  #map {
    margin-top: 5em;
    border: solid 3px #ffc44e;
    border-radius: 5%;
    height: 50vh;
    width: 60vh;
  }
  #mapCard{
    height: 180px;
    border: solid 3px #ffc44e;
  }
  .border{
    border: solid 3px #ffc44e;
  }
  .title{
    color:#ea5a63
  }
img{
  max-width: 190px;
  max-height: 132px;
}
.card{
  max-width: 290px;
  height: 240px;
}