<div class="d-flex">
  <div class="d-flex justify-content-evenly align-items-center bg-blue col-11 br-10">
    <div class="col-6 mx-4 my-5 h-550px br-10" id="map"></div>
    <div class="col-4">
      <div class="card ">
        <div class="card-body ">
          <h5 class="card-title amber">{{title}}</h5>
          <p>
            <!-- <span class="badge rounded-pill bg-info text-dark me-2" *ngFor="let p of pis">{{p.categorie.name}}</span> -->
            <!-- <span class="badge rounded-pill bg-success me-2">{{ages}}</span> -->
            <span class="badge rounded-pill bg-danger">{{address}}</span>
          </p>
          <p class="card-text"><span class="italic text-muted">Description :</span>  {{content}}</p>
          <p><span class="italic text-muted">Adresse :</span> {{road}} <br>{{postCode}} {{address}}</p>
        </div>
      </div>
      <div class="mt-4">
        <button class="btn-first" (click)="navigateList()">Retour</button>
      </div>
    </div>
  </div>
